body {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 30px solid;
    color:hotpink;
}

html{
    display: flex;
    background-color: white;
}


.header_top{
    width: 100%;
    height: 250px;
    /*background-color: black;*/
    display: flex;
    flex-wrap: wrap;
}

.header_info{
    width: 100%;
    height: 60px;
    background-color: aqua;
}

.menu_slot{
    width: 100%;
    height: 90px;
    background-color: grey;
}

.content_one{
    width: 1200px;
    height: 700px;
    background-color: bisque;
    margin: auto;
    display: flex;
}


.content_info{
    width: 500px;
    height: 200px;
    background-color: aliceblue;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px ;
}

.content_two{
    width: 1200px;
    height: 700px;
    background-color: brown;
    margin: auto;
    display: flex;
}

.service{
    width: 1200px;
    height: 700px;
    background-color: chartreuse;
    margin: auto;
    display: flex;
}

.material{
    width: 1200px;
    height: 700px;
    background-color: yellow;
    margin: auto;
    display: flex;
}

.contact{
    width: 1200px;
    height: 700px;
    background-color: olive;
    margin: auto;
    display: flex;
}

footer{
    width: 100%;
    height: 150px;
    background-color: black;

}

.photo_section{
    background-color: coral;
}





